.apply-page {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: rgb(246, 249, 252);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .apply-page h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    text-align: left;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 100px;
  }
  
  .lab-view-container {
    /* margin: 20px 10px; */
    /* padding: 20px; */
    /* margin: 20px 10px; */
    width: 100%;
    background-color: #ffffff;
    /* border: 1px solid #ffffff; */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: left;
  }

  /* .lab-view-container1 {
    display: flex;
    margin: 20px 10px;
    padding: 20px;
    width: 97%;
    text-align: center;
    background-color: #b13b3b;
    border: 1px solid #ffffff;
    border-radius: 8px;
    
  } */

  .lab-view-title {
    margin: 0px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    width: 90%;
    flex: 1;
    border-radius: 8px;
    text-align: left;
  }

  .lab-view-content {
    margin: 0px 10px;
    margin-top: 10px;
    width: 90%;
    flex: 1;
    border-radius: 8px;
    text-align: left;
    /* overflow: hidden; */
}